@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #1d1e20;
  color: #dadadb;
  font-family: monospace;
}
/* general sections*/
.section-header {
  @apply text-4xl /* justify-center text-center */;
  border-bottom: #dadadb24;
  border-style: ridge;
}
/*hero*/
.hero-container {
  padding: 2rem;
  font-family: monospace;
}
.hero-container .box1 {
  font-size: xx-large;
  transition: all 1s ease-in-out;
}
.hero-container .box2 {
  font-size: xx-large;
  transition: all 1s ease-in-out;
}
.hero-container .box3 {
  font-size: xx-large;
  transition: all 1s ease-in-out;
}
.hero-container .adjective {
  @apply text-7xl;
}
.hero-container .box1:hover {
  background-color: rgb(140, 174, 220);
}
.hero-container .box2:hover {
  background-color: rgba(243, 176, 52, 0.646);
}
.hero-container .box3:hover {
  background-color: rgba(243, 65, 52, 0.599);
}
/* about me*/
.about-container {
  padding: 2rem;
  font-family: monospace;
}
.about-container .box {
  block-size: fit-content;
  font-size: x-large;
}
/* experience */
.experience-container {
  padding: 2rem;
  font-family: monospace;
  justify-content: center;
  font-size: larger;
}
.experience-container .experience-grid {
  padding: 2rem;
  display: grid;
  @apply space-y-8;
  font-family: monospace;
  justify-content: center;
}

.experience-container .experience-grid .experience-node {
  block-size: fit-content;
  background-color: #417d5c5c;
  color: #c8cfd3;
  gap: 1rem;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
  cursor: context-menu;
}

.experience-container .experience-grid .experience-node:hover {
  background-color: #377d47e1;
  border-radius: 10px;
}
.experience-container .experience-grid .experience-node .position-title {
  font-size: x-large;
  font-weight: bolder;
}
.experience-container .experience-grid .experience-node .position-company {
  font-size: large;
}

.experience-container .experience-grid .experience-node .position-duration {
  font-size: medium;
  font-weight: lighter;
}

/*skills */
.skills-container {
  cursor: context-menu;
  padding: 2rem;
  font-family: monospace;
  font-size: larger;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 20px;
}

.skills-header {
  font-size: x-large;
  /*  justify-content: center;
  text-align: center; */
  padding-bottom: 18px;

  /*   background-color: #6b5b6309;
 */
}

.skills-container .grid-skills .skill-card {
  width: 85%;
  /*   background-color: #62626287;
 */
  background-color: #417d5c5c;
  color: #c8cfd3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 2s ease-in-out 0.5s;
  cursor: context-menu;
}
