@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  background-color: #1d1e20;
  color: #dadadb;
  font-family: monospace;
}
/* general sections*/
.section-header {
  @apply text-4xl /* justify-center text-center */;
  padding-bottom: 2rem;
}
/* experience */
.experience-container {
  @apply space-y-8;
  padding: 2rem;
  font-family: monospace;
}
.experience-container .experience-node {
  width: fit-content;
  block-size: fit-content;
  background-color: #417d5c5c;
  color: #c8cfd3;
  gap: 1rem;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
  cursor: context-menu;
  
}

.experience-container .experience-node:hover {
  background-color: #377d47e1;
  border-radius: 10px;
}
.experience-container .experience-node .position-title {
  font-size: x-large;
  font-weight: bolder;
}
.experience-container .experience-node .position-company {
  font-size: large;
}

.experience-container .experience-node .position-duration {
  font-size: medium;
  font-weight: lighter;
}
.experience-container .experience-header {
  font-size: large;
  justify-content: center;
  padding-bottom: 20px;
}
/*skills */
.skills-container {
  padding: 2rem;
  font-family: monospace;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-bottom: 20px;
}

.skills-header {
  font-size: x-large;
  /*  justify-content: center;
  text-align: center; */
  padding-bottom: 18px;

  /*   background-color: #6b5b6309;
 */
}

.skills-container .grid-skills .skill-card {
  width: 85%;
  /*   background-color: #62626287;
 */
  background-color: #417d5c5c;
  color: #c8cfd3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 2s ease-in-out 0.5s;
  cursor: context-menu;
}
